*{
    box-sizing: border-box;
    margin:0;
    padding:0;
}
.topnav {
    background:green;
    text-align:center
    
}
.topnav ul {
    display:inline-flex;
    list-style:none;
    color:#fff;
    

}
.topnav ul li {
width:120px;
margin:15px;
padding:15px;
text-align:center

} 
.topnav ul li a {
text-decoration: none;
color:white;
font-family: 'Nunito Sans', sans-serif;

}
  .topnav a:hover {
    border-bottom: 2px solid rgb(223, 141, 20);
  }
  
 .topnav .active {
    border-bottom: 3px solid rgb(223, 141, 20);
  }
.topnav ul li img {
    position:absolute;
    left:0%;
    top:-1px;
    width:200px;
    height:98px;
}































.logo {
    display:absolute;
    left:100%;
}



.foot {
    display:inline-block;
    font-size:30px;
    width:100%;
    background-color:rgb(44, 46, 46);
    color:white;
}
.foot p {
    float:left;
    margin:70px;
}

.foot ul {
    float:right;
    margin:70px;
    
}
.social{
background-color:goldenrod;
}

.fa{
    color:white;
    text-decoration: none;
    margin: 15px;
    padding: 20px;
    

}
.fa:hover {
    background-color:#555551;
    border-radius: 3px;
    
} 
.email {
    float:right;
    text-decoration: none;
    color:white;
    font-size: 20px;
    margin: 20px;
    padding:20px;
}
.email:hover {
    background-color:#555551;
    color:white;
    border-radius: 3px;


}
.container{
    position: relative;
    text-align: center;
    color: white;

}
.centered{
position: absolute;
top: 50%;
left: 48%;
transform: translate(-50%, -50%);
}
.centered h1 {
    font-size:50px;
    color:orangered;
    font-family: 'Permanent Marker', cursive;
}
.centered p {
    font-size:40px;
    color:White;
    font-family: 'Fira Sans Condensed', sans-serif;
    font-family: 'Overpass', sans-serif;
    font-family: 'Permanent Marker', cursive;
}

#poolView{
   height:600px;
   width:100%;
}
.para {
text-align:center;
justify-content: center;

font-size:30px;
Color:grey;
font-family: 'Nunito Sans', sans-serif;

}
.heading {
    font-size: 40px;
    text-align:center;
    justify-content: center;
    font-family: 'Permanent Marker', cursive;
    color:orangered;
    margin:40px;
}
#button1{
    justify-content: right;
    text-align:center;
    margin: 40px;
}
#button1 a {
    display:inline-block;
    background-color:blue;
    color:white;
    padding:30PX;
    margin: 30PX;
    text-decoration: none;
    font-family:monospace;
    font-size: 30px;
}
.container1{
    position: relative;
    text-align: center;
    color: white;
}
.centered1 {
position: absolute;
top: 65%;
left: 50%;
transform: translate(-50%, -50%);
}

.centered1 a {
   
    text-decoration: none;
    font-size:15px;
    font-family: monospace;
    background-color:grey;
    color:white;
    padding:10px;
    margin:20px;
}
.centered1 a:hover {
    color:blue;
}
.heading1 {
    font-size: 60px;
    text-align:center;
    font-family: 'Caveat', cursive;
    color:orangered;
    margin:30px;
}
.center{
    justify-content: center;
    text-align:center;
    margin:40px;
    font-size:40px;

}
.center h1 {
    font-size:50px;
    color:goldenrod;
    margin:40px;
}
#note{
    font-size:40px;
    color:red;

}
#map {
    width: 98%;
    height:500px;
    margin:15px;
    

  }

/* entertainmeints pages */
#enter {
    color:goldenrod;
    font-size:60px;
    position: inline-block;
    align-items: center;
}
h3 {
    font-size :60px;
    color:goldenrod;
    margin:35px;
   text-align: center;
   font-family: 'Merienda', cursive;
   

}


.block1 {
margin: 15px;
}
.block1 img{
    float: left;    
     margin: 0 15px 0 0;
     width:500px;
     

}

.block1 P {
    font-size:28px;
    font-family:'Nunito Sans', sans-serif;
    background-color:whitesmoke;

    border-width: 50px;
    
}

.block2 {
    margin-top: 90px;
 
    }
    .block2 img{   
        float: right;    
        margin: 0 0 0 15px;
        width:500px;
    
    }
    
    .block2 P {
        font-size:28px;
        font-family: 'Nunito Sans', sans-serif;
        background-color:whitesmoke;
       
    }
    .block3 {
        margin-top: 100px;
        margin-bottom: 20px;
    }
    .block3 img{
        float: left;    
         margin: 0 15px 0 0;
         width:700px;
         
    
    }
    
    .block3 P {
        font-size:25px;
        font-family: 'Nunito Sans', sans-serif;
        
    }
    
    
