*{
    box-sizing: border-box;
    margin:0;
    padding:0;
}
.topnav {
    background:green;
    text-align:center
    
}
.topnav ul {
    display:inline-flex;
    list-style:none;
    color:#fff;
    

}
.topnav ul li {
width:120px;
margin:15px;
padding:15px;
text-align:center

} 
.topnav ul li a {
text-decoration: none;
color:white;
font-family: 'Nunito Sans', sans-serif;

}
  .topnav a:hover {
    border-bottom: 2px solid rgb(223, 141, 20);
  }
  
 .topnav .active {
    border-bottom: 3px solid rgb(223, 141, 20);
  }
.topnav ul li img {
    position:absolute;
    left:0%;
    top:-1px;
    width:200px;
    height:98px;
}

.logo {
    display:absolute;
    left:100%;
}



.foot {
    display:inline-block;
    font-size:30px;
    width:100%;
    background-color:rgb(44, 46, 46);
    color:white;
}
.foot p {
    float:left;
    margin:70px;
}

.foot ul {
    float:right;
    margin:70px;
    
}
.social{
background-color:goldenrod;
}

.fa{
    color:white;
    text-decoration: none;
    margin: 15px;
    padding: 20px;
    

}
.fa:hover {
    background-color:#555551;
    border-radius: 3px;
    
} 
.email {
    float:right;
    text-decoration: none;
    color:white;
    font-size: 20px;
    margin: 20px;
    padding:20px;
}
.email:hover {
    background-color:#555551;
    color:white;
    border-radius: 3px;


}
.container_{
    position: relative;
    text-align: center;
    color: white;

}
.centered{
position: absolute;
top: 50%;
left: 48%;
transform: translate(-50%, -50%);
}
.centered h1 {
    font-size:50px;
    color:orangered;
    font-family: 'Permanent Marker', cursive;
}
.centered p {
    font-size:40px;
    color:White;
    font-family: 'Fira Sans Condensed', sans-serif;
    font-family: 'Overpass', sans-serif;
    font-family: 'Permanent Marker', cursive;
}

#poolView{
   height:600px;
   width:100%;
}
.para {
text-align:center;
justify-content: center;

font-size:30px;
Color:grey;
font-family: 'Nunito Sans', sans-serif;

}
.heading {
    font-size: 40px;
    text-align:center;
    justify-content: center;
    font-family: 'Permanent Marker', cursive;
    color:orangered;
    margin:40px;
}
#button1{
    justify-content: right;
    text-align:center;
    margin: 40px;
}
#button1 a {
    display:inline-block;
    background-color:blue;
    color:white;
    padding:30PX;
    margin: 30PX;
    text-decoration: none;
    font-family:monospace;
    font-size: 30px;
}
.container1{
    position: relative;
    text-align: center;
    color: white;
}
.centered1 {
position: absolute;
top: 65%;
left: 50%;
transform: translate(-50%, -50%);
}

.centered1 a {
   
    text-decoration: none;
    font-size:15px;
    font-family: monospace;
    background-color:grey;
    color:white;
    padding:10px;
    margin:20px;
}
.centered1 a:hover {
    color:blue;
}
.heading1 {
    font-size: 60px;
    text-align:center;
    font-family: 'Caveat', cursive;
    color:orangered;
    margin:30px;
}
.center{
    justify-content: center;
    text-align:center;
    margin:40px;
    font-size:40px;

}
.center h1 {
    font-size:50px;
    color:goldenrod;
    margin:40px;
}
#note{
    font-size:40px;
    color:red;

}
#map {
    width: 98%;
    height:500px;
    margin:15px;
    

  }

/* entertainmeints pages */
#enter {
    color:goldenrod;
    font-size:60px;
    position: inline-block;
    align-items: center;
}
h3 {
    font-size :60px;
    color:goldenrod;
    margin:35px;
   text-align: center;
   font-family: 'Merienda', cursive;
   

}


.block1 {
margin: 15px;
}
.block1 img{
    float: left;    
     margin: 0 15px 0 0;
     width:600px;
     

}

.block1 P {
    font-size:28px;
    font-family:'Nunito Sans', sans-serif;
    background-color:whitesmoke;

    border-width: 50px;
    
}

.block2 {
    margin-top: 90px;
 
    }
    .block2 img{   
        float: right;    
        margin: 0 0 0 15px;
        width:550px;
    
    }
    
    .block2 P {
        font-size:28px;
        font-family: 'Nunito Sans', sans-serif;
        background-color:whitesmoke;
       
    }
    .block3 {
        margin-top: 100px;
        margin-bottom: 20px;
    }
    .block3 img{
        float: left;    
         margin: 0 15px 0 0;
         width:750px;
         margin-bottom: 20px;
         
    
    }
    
    .block3 P {
        font-size:25px;
        font-family: 'Nunito Sans', sans-serif;
        
    }
    
    
/* contact */

.contact {
    text-align : center;
    font-family: 'Nunito Sans', sans-serif;
}

.contact h1 {
    color:rgb(223, 141, 20);
    font-size: 70px;
    font-family: 'Merienda', cursive;
font-family: 'Tajawal', sans-serif;
margin:15px;
}

.contact h4 {
    color:black;
    font-size:30px;
    font-family: 'Merienda', cursive;
    font-family: 'Tajawal', sans-serif;
    margin:15px;
}
.contact p {
    color:grey;
    font-size:30px;
    font-family: 'Merienda', cursive;
    font-family: 'Tajawal', sans-serif;
    margin:15px;
}
.contact i {
    color:red
}

.sidenav {
    width: 350px; 
    float:right; 
    position:absolute;
    z-index: 1; 
    top: 100px; 
    left: 75%;
    overflow-x: hidden; 
    padding-top: 20px;
    background-color: white;
}
.sidenav p {
font-size:22px;
font-family: 'Merienda', cursive;
    font-family: 'Tajawal', sans-serif;


}

.mySlides_ img {
    height:550px;
}
.centered2{
    position: absolute;
    top: 40%;
    left:20%;
    transform: translate(-50%, -50%);
    margin-top:10px;
    }
    .centered2 h1 {
        font-size:80px;
        color:white;
        font-family: 'Handlee', cursive;
    }
    .centered2 p {
        font-size:80px;
        color:White;
        font-family: 'Handlee', cursive;
    }

    .centered3{
        position: absolute;
        top: 38%;
        left:20%;
        transform: translate(-50%, -50%);
        margin-top:10px;
        }
        .centered3 h1 {
            font-size:78px;
            color:white;
            font-family: 'Handlee', cursive;
        }
        
    

        .centered4{
            position: absolute;
            top: 40%;
            left:25%;
            transform: translate(-50%, -50%);
            margin-top:10px;
            }
            .centered4 h1 {
                font-size:70px;
                color:white;
                font-family: 'Handlee', cursive;
            }
            .centered4 p {
                font-size:70px;
                color:White;
                font-family: 'Handlee', cursive;
            }
.h1 {
    font-size: 50px;
    text-align: center;
    font-family: 'Handlee', cursive;
    color:brown;
    margin:15px;
  
}
.p{
    float:center;
    font-size: 40px;
    text-align: center; 
    font-family: 'Nunito Sans', sans-serif;
}

.container3 {
    display:flex;
    justify-content: center;
    align-items:center;
    flex-wrap:wrap;
    float: left;
    float: left;
    width: 33%;
    padding: 5px;
    margin-top :11px;
  }
  

.card {
position : relative;
background:whitesmoke;
max-width:350px;
margin:20px;
border-radius:2px;
box-shadow:0 5px 25px rgb(244/10%);
}
.card_image {
    max-height :200px;
    overflow:hidden;

}
.card_image img {
    max-width: 100%;
    height:auto;

}

.card_title {
    position:relative;
    color:#222;
   
}

.card_title {
font-size :20px;
font-weight: 700;
margin-bottom: 10px;
}

.card-description {
    font-size :20px;
font-weight: 700;
margin-bottom: 10px;
padding: 10px;

}

.closing p {
 font-size: 30px;
 display:absolute;
 text-align: center;
 font-family: 'Nunito Sans', sans-serif;
 color:black;
 margin:30px;
 padding:20px;


}
.slide-container{
    max-width: 1000px;
    position: relative;
    margin: auto;
    background-color:whitesmoke;
    width:100opx;
    height:400px
}
.mySlides {
    display:none;
    float: left;    
    margin:10px;
    width:500px;

}

.prev, .next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    margin-top: -22px;
    padding: 16px;
    font-weight: bold;
    font-size: 18px;
    user-select: none;
  }
  
  .next {
    right:50%;
    top: 150px;
    border-radius: 3px 0 0 3px;
  }
  .prev {
    left:7%;
    top: 150px;
  }

  
  .prev:hover, .next:hover {
    background-color: rgba(0,0,0,0.8);
  }


.wraper h1 {
    margin-top: 100px;
    font-family: 'Nunito Sans', sans-serif; 
  }
.wraper p{
    margin-top:30px;
    margin-bottom: 30px;
    font-family: 'Nunito Sans', sans-serif;
    font-size:20px;

}
.dif {
    color:darkgreen;
    font-style:italic;
}

  .slide-container1{
    max-width: 1000px;
    position: relative;
    margin: auto;
    background-color:whitesmoke;
    height:400px;
}
.mySlides1 {
    display:none;
    float: left;    
    margin:10px;
    width:500px;

}

.slide-container3{
    max-width: 1000px;
    position: relative;
    margin: auto;
    background-color:whitesmoke;
    height:400px
}

.myslides3{
    display:none;
    float: left;    
    margin:10px;
    width:500px;

}

.slide-container4{
    max-width: 1000px;
    position: relative;
    margin: auto;
    background-color:whitesmoke;
    height:400px
}

.myslide{
    display:none;
    float: left;    
    margin:10px;
    width:500px;

}

.wraper a {
  float:right;
    background-color: green;
    color: white;
    margin-top:5px;
    padding:15px;
    font-family: 'Nunito Sans', sans-serif;
    text-decoration: none;
margin-left: 20px;
}
.wraper a:hover {
    background-color:lightgreen;
}
.wraper a:active {
        background-color: black;
      }
      
    .wrapper a:visited {
        background-color: #ccc;
      }

    .myForm {
        text-align: center;
        margin: 5%;
        font-family: 'Archivo Narrow', sans-serif;
        font-style: bold;
        font-size: 20px;
        width:450px;
        height:450px;
        background-color: whitesmoke;

      }

      .myForm a {
          text-decoration: none;
          background-color: green;
          padding:15px;
          color:white;
          border: 5px;
          font-family: 'Archivo Narrow', sans-serif;
          margin-top:40%;
          
      }
      .myForm a:hover {
          background-color: goldenrod;

      }

      .container {
        width: 400px;
        top: 270px;
        left: 1%;
        position: absolute;
        background-color: whitesmoke;
      }
        
    
      .text {
        text-align: center;
        font-size: 30px;
        color: black;
        font-family: 'Archivo Narrow', sans-serif;
      }
        
    
      .card-details {
        margin: 10px 30px;
        padding: 10px;
      }
        
      .card-details p {
        font-size: 25px;
        color:black;
        font-family: 'Archivo Narrow', sans-serif;
        margin:20px;
      }
        
      .card-details label {
        font-size: 20px;
        line-height: 35px;
        color:black;
        font-family: 'Archivo Narrow', sans-serif;
      }
        
      .submit-now-btn {
        cursor: pointer;
        color:white;
        height: 30px;
        width: 200px;
        border: none;
        margin: 15px 30px;
        background-color: green;
      }
      .availh1 {
          font-size:40px;
         font-family: 'Archivo Narrow', sans-serif;
          color:#D4AF37;
          margin:20px;
          font-style: italic;
      }
      .Availp {
        font-size:20px;
        font-family: 'Archivo Narrow', sans-serif;
         color:black;
         font-style: italic;
         margin :10px;

      }

    .last{
        display: block;
        margin:auto;
        width: 500px;
      }
      .las{
          text-align :center;
          font-size:20px;
          justify-content: center;
      }

      .las a:hover {
          color:red;
      }